.menu{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.menu > p{
  margin: auto 0 auto 20px;
}
.symbol{
  user-select: none;
  font-size: 28px;
  text-transform: capitalize;
  box-sizing: border-box;
  margin: 20px;
  padding: calc(50% - 41px) 0;
  border-radius: 20px;
  text-align: center;
  background-color: #EAF205
}
.s_green{
  background-color: #A173BF
}
.s_red{
  background-color: #F25244
}
#copiedArr{
  padding: 0 20px;
}
#addSymb{
  margin: 0 18px 0;
}
#symContainer{
  margin: 0 auto;
  max-width: 800px;
  padding: 20px 20px;
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: 1fr 1fr;
}