.menu{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.menu > select, p{
  margin: 18px 0;
}
.symbol{
  user-select: none;
  font-size: 28px;
  text-transform: capitalize;
  margin: 4px;
  padding: 10px;
  text-align: center;
  background-color: coral
}
.s_green{
  background-color: seagreen
}
#copiedArr{
  padding: 0 20px;
}
#addSymb{
  margin: 18px 0;
}
#symContainer{
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr
}